@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&display=swap");

.plasmic_tokens {
  --token-w1WpceDKQhS-l1: 1440px;
  --plasmic-token-container: var(--token-w1WpceDKQhS-l1);
  --token-Bsrh3uMjZrm_ju: #ffffff;
  --plasmic-token-white: var(--token-Bsrh3uMjZrm_ju);
  --token-FnRQ6XodqUg7jn: 430px;
  --plasmic-token-height: var(--token-FnRQ6XodqUg7jn);
  --token-mdLdi9far_hDMT: #000000;
  --plasmic-token-black: var(--token-mdLdi9far_hDMT);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-uSsz0t1-VcXv2F_font-family: "Montserrat", sans-serif;
  --mixin-uSsz0t1-VcXv2F_font-size: 16px;
  --mixin-uSsz0t1-VcXv2F_font-weight: 400;
  --mixin-uSsz0t1-VcXv2F_font-style: normal;
  --mixin-uSsz0t1-VcXv2F_color: #535353;
  --mixin-uSsz0t1-VcXv2F_text-align: left;
  --mixin-uSsz0t1-VcXv2F_line-height: 1.7;
  --mixin-uSsz0t1-VcXv2F_letter-spacing: 0.01em;
  --mixin-uSsz0t1-VcXv2F_white-space: pre-wrap;
  --mixin-uSsz0t1-VcXv2F_user-select: text;
  --mixin-uSsz0t1-VcXv2F_text-decoration-line: none;
  --mixin-uSsz0t1-VcXv2F_text-overflow: clip;
  --mixin-ZKNcs0WflMxyy__color: var(--token-Bsrh3uMjZrm_ju);
  --mixin-ZKNcs0WflMxyy__font-weight: 400;
  --mixin-ZKNcs0WflMxyy__font-size: 80px;
  --mixin-ZKNcs0WflMxyy__line-height: 1.2;
  --mixin-ZKNcs0WflMxyy__letter-spacing: 0px;
  --mixin-ZKNcs0WflMxyy__font-family: "Playfair Display", serif;
  --mixin-ZKNcs0WflMxyy__white-space: pre-wrap;
  --mixin-he55cpF9dZXPTP_color: #000000;
  --mixin-he55cpF9dZXPTP_font-weight: 500;
  --mixin-he55cpF9dZXPTP_font-size: 50px;
  --mixin-he55cpF9dZXPTP_line-height: 1.1;
  --mixin-he55cpF9dZXPTP_letter-spacing: 0px;
  --mixin-he55cpF9dZXPTP_font-family: "Playfair Display", serif;
  --mixin-he55cpF9dZXPTP_white-space: pre-wrap;
  --mixin-zOrs7tRroOevLZ_color: #3291ff;
  --mixin-zOrs7tRroOevLZ_white-space: pre-wrap;
  --mixin-Qy5ssuS0y3gr1S_color: #000000;
  --mixin-Qy5ssuS0y3gr1S_font-weight: 600;
  --mixin-Qy5ssuS0y3gr1S_font-size: 24px;
  --mixin-Qy5ssuS0y3gr1S_line-height: 1.2;
  --mixin-Qy5ssuS0y3gr1S_letter-spacing: -0.8px;
  --mixin-Qy5ssuS0y3gr1S_font-family: "Montserrat", sans-serif;
  --mixin-Qy5ssuS0y3gr1S_white-space: pre-wrap;
  --mixin-LRplwMabjuIWY6_color: #000000;
  --mixin-LRplwMabjuIWY6_font-weight: 500;
  --mixin-LRplwMabjuIWY6_font-size: 24px;
  --mixin-LRplwMabjuIWY6_line-height: 1.3;
  --mixin-LRplwMabjuIWY6_letter-spacing: -0.5px;
  --mixin-LRplwMabjuIWY6_white-space: pre-wrap;
  --mixin--Al-6cStKmpZTv_font-family: "Inconsolata";
  --mixin--Al-6cStKmpZTv_padding-top: 1px;
  --mixin--Al-6cStKmpZTv_padding-right: 4px;
  --mixin--Al-6cStKmpZTv_padding-bottom: 1px;
  --mixin--Al-6cStKmpZTv_padding-left: 4px;
  --mixin--Al-6cStKmpZTv_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--Al-6cStKmpZTv_border-top-color: #dddddd;
  --mixin--Al-6cStKmpZTv_border-top-width: 1px;
  --mixin--Al-6cStKmpZTv_border-top-style: solid;
  --mixin--Al-6cStKmpZTv_border-right-color: #dddddd;
  --mixin--Al-6cStKmpZTv_border-right-width: 1px;
  --mixin--Al-6cStKmpZTv_border-right-style: solid;
  --mixin--Al-6cStKmpZTv_border-bottom-color: #dddddd;
  --mixin--Al-6cStKmpZTv_border-bottom-width: 1px;
  --mixin--Al-6cStKmpZTv_border-bottom-style: solid;
  --mixin--Al-6cStKmpZTv_border-left-color: #dddddd;
  --mixin--Al-6cStKmpZTv_border-left-width: 1px;
  --mixin--Al-6cStKmpZTv_border-left-style: solid;
  --mixin--Al-6cStKmpZTv_border-top-left-radius: 3px;
  --mixin--Al-6cStKmpZTv_border-top-right-radius: 3px;
  --mixin--Al-6cStKmpZTv_border-bottom-right-radius: 3px;
  --mixin--Al-6cStKmpZTv_border-bottom-left-radius: 3px;
  --mixin--Al-6cStKmpZTv_white-space: pre-wrap;
  --mixin-ISph5ii3MeE966_color: #888888;
  --mixin-ISph5ii3MeE966_padding-left: 10px;
  --mixin-ISph5ii3MeE966_border-left-width: 3px;
  --mixin-ISph5ii3MeE966_border-left-style: solid;
  --mixin-ISph5ii3MeE966_border-left-color: #dddddd;
  --mixin-ISph5ii3MeE966_white-space: pre-wrap;
  --mixin-3iQzvBPZBo-yvq_padding-top: 3px;
  --mixin-3iQzvBPZBo-yvq_padding-right: 6px;
  --mixin-3iQzvBPZBo-yvq_padding-bottom: 3px;
  --mixin-3iQzvBPZBo-yvq_padding-left: 6px;
  --mixin-3iQzvBPZBo-yvq_font-family: "Inconsolata";
  --mixin-3iQzvBPZBo-yvq_border-top-left-radius: 3px;
  --mixin-3iQzvBPZBo-yvq_border-top-right-radius: 3px;
  --mixin-3iQzvBPZBo-yvq_border-bottom-right-radius: 3px;
  --mixin-3iQzvBPZBo-yvq_border-bottom-left-radius: 3px;
  --mixin-3iQzvBPZBo-yvq_border-top-color: #dddddd;
  --mixin-3iQzvBPZBo-yvq_border-top-width: 1px;
  --mixin-3iQzvBPZBo-yvq_border-top-style: solid;
  --mixin-3iQzvBPZBo-yvq_border-right-color: #dddddd;
  --mixin-3iQzvBPZBo-yvq_border-right-width: 1px;
  --mixin-3iQzvBPZBo-yvq_border-right-style: solid;
  --mixin-3iQzvBPZBo-yvq_border-bottom-color: #dddddd;
  --mixin-3iQzvBPZBo-yvq_border-bottom-width: 1px;
  --mixin-3iQzvBPZBo-yvq_border-bottom-style: solid;
  --mixin-3iQzvBPZBo-yvq_border-left-color: #dddddd;
  --mixin-3iQzvBPZBo-yvq_border-left-width: 1px;
  --mixin-3iQzvBPZBo-yvq_border-left-style: solid;
  --mixin-3iQzvBPZBo-yvq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-3iQzvBPZBo-yvq_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-uSsz0t1-VcXv2F_font-family);
  font-size: var(--mixin-uSsz0t1-VcXv2F_font-size);
  font-weight: var(--mixin-uSsz0t1-VcXv2F_font-weight);
  font-style: var(--mixin-uSsz0t1-VcXv2F_font-style);
  color: var(--mixin-uSsz0t1-VcXv2F_color);
  text-align: var(--mixin-uSsz0t1-VcXv2F_text-align);
  line-height: var(--mixin-uSsz0t1-VcXv2F_line-height);
  letter-spacing: var(--mixin-uSsz0t1-VcXv2F_letter-spacing);
  white-space: var(--mixin-uSsz0t1-VcXv2F_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-ZKNcs0WflMxyy__color);
  font-weight: var(--mixin-ZKNcs0WflMxyy__font-weight);
  font-size: var(--mixin-ZKNcs0WflMxyy__font-size);
  line-height: var(--mixin-ZKNcs0WflMxyy__line-height);
  letter-spacing: var(--mixin-ZKNcs0WflMxyy__letter-spacing);
  font-family: var(--mixin-ZKNcs0WflMxyy__font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-he55cpF9dZXPTP_color);
  font-weight: var(--mixin-he55cpF9dZXPTP_font-weight);
  font-size: var(--mixin-he55cpF9dZXPTP_font-size);
  line-height: var(--mixin-he55cpF9dZXPTP_line-height);
  letter-spacing: var(--mixin-he55cpF9dZXPTP_letter-spacing);
  font-family: var(--mixin-he55cpF9dZXPTP_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-zOrs7tRroOevLZ_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Qy5ssuS0y3gr1S_color);
  font-weight: var(--mixin-Qy5ssuS0y3gr1S_font-weight);
  font-size: var(--mixin-Qy5ssuS0y3gr1S_font-size);
  line-height: var(--mixin-Qy5ssuS0y3gr1S_line-height);
  letter-spacing: var(--mixin-Qy5ssuS0y3gr1S_letter-spacing);
  font-family: var(--mixin-Qy5ssuS0y3gr1S_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-LRplwMabjuIWY6_color);
  font-weight: var(--mixin-LRplwMabjuIWY6_font-weight);
  font-size: var(--mixin-LRplwMabjuIWY6_font-size);
  line-height: var(--mixin-LRplwMabjuIWY6_line-height);
  letter-spacing: var(--mixin-LRplwMabjuIWY6_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  font-family: var(--mixin--Al-6cStKmpZTv_font-family);
  background: #f8f8f8;
  border-radius: var(--mixin--Al-6cStKmpZTv_border-top-left-radius)
    var(--mixin--Al-6cStKmpZTv_border-top-right-radius)
    var(--mixin--Al-6cStKmpZTv_border-bottom-right-radius)
    var(--mixin--Al-6cStKmpZTv_border-bottom-left-radius);
  padding: var(--mixin--Al-6cStKmpZTv_padding-top)
    var(--mixin--Al-6cStKmpZTv_padding-right)
    var(--mixin--Al-6cStKmpZTv_padding-bottom)
    var(--mixin--Al-6cStKmpZTv_padding-left);
  border-top: var(--mixin--Al-6cStKmpZTv_border-top-width)
    var(--mixin--Al-6cStKmpZTv_border-top-style)
    var(--mixin--Al-6cStKmpZTv_border-top-color);
  border-right: var(--mixin--Al-6cStKmpZTv_border-right-width)
    var(--mixin--Al-6cStKmpZTv_border-right-style)
    var(--mixin--Al-6cStKmpZTv_border-right-color);
  border-bottom: var(--mixin--Al-6cStKmpZTv_border-bottom-width)
    var(--mixin--Al-6cStKmpZTv_border-bottom-style)
    var(--mixin--Al-6cStKmpZTv_border-bottom-color);
  border-left: var(--mixin--Al-6cStKmpZTv_border-left-width)
    var(--mixin--Al-6cStKmpZTv_border-left-style)
    var(--mixin--Al-6cStKmpZTv_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ISph5ii3MeE966_color);
  padding-left: var(--mixin-ISph5ii3MeE966_padding-left);
  border-left: var(--mixin-ISph5ii3MeE966_border-left-width)
    var(--mixin-ISph5ii3MeE966_border-left-style)
    var(--mixin-ISph5ii3MeE966_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  font-family: var(--mixin-3iQzvBPZBo-yvq_font-family);
  background: #f8f8f8;
  border-radius: var(--mixin-3iQzvBPZBo-yvq_border-top-left-radius)
    var(--mixin-3iQzvBPZBo-yvq_border-top-right-radius)
    var(--mixin-3iQzvBPZBo-yvq_border-bottom-right-radius)
    var(--mixin-3iQzvBPZBo-yvq_border-bottom-left-radius);
  padding: var(--mixin-3iQzvBPZBo-yvq_padding-top)
    var(--mixin-3iQzvBPZBo-yvq_padding-right)
    var(--mixin-3iQzvBPZBo-yvq_padding-bottom)
    var(--mixin-3iQzvBPZBo-yvq_padding-left);
  border-top: var(--mixin-3iQzvBPZBo-yvq_border-top-width)
    var(--mixin-3iQzvBPZBo-yvq_border-top-style)
    var(--mixin-3iQzvBPZBo-yvq_border-top-color);
  border-right: var(--mixin-3iQzvBPZBo-yvq_border-right-width)
    var(--mixin-3iQzvBPZBo-yvq_border-right-style)
    var(--mixin-3iQzvBPZBo-yvq_border-right-color);
  border-bottom: var(--mixin-3iQzvBPZBo-yvq_border-bottom-width)
    var(--mixin-3iQzvBPZBo-yvq_border-bottom-style)
    var(--mixin-3iQzvBPZBo-yvq_border-bottom-color);
  border-left: var(--mixin-3iQzvBPZBo-yvq_border-left-width)
    var(--mixin-3iQzvBPZBo-yvq_border-left-style)
    var(--mixin-3iQzvBPZBo-yvq_border-left-color);
}
