.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-w1WpceDKQhS-l1);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox___1J6Dj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1J6Dj {
    display: flex;
  }
}
.columns__amsp4 {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__amsp4 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__amsp4 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__amsp4 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__amsp4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: flex;
    margin: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__amsp4 > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__amsp4 > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__amsp4 > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column___24Elv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___24Elv {
    display: flex;
  }
}
.freeBox___1IDtu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8Ghyf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Ghyf {
    display: flex;
  }
}
.svg___9YCw8 {
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  flex-shrink: 0;
}
.link___7JJsR {
  position: relative;
  font-size: 20px;
}
.link___84OLn {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___84OLn {
    display: none;
  }
}
.freeBox__ssTU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ssTU {
    display: none;
  }
}
.column__fgMnk {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fgMnk {
    display: flex;
  }
}
.freeBox__pUr5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___3EOXm {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  width: 130px;
}
.img___3EOXm > picture > img {
  object-fit: fill;
}
.img___3EOXm > :global(.__wab_img-spacer) > img {
  object-fit: fill;
}
.column__zqPyA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zqPyA {
    display: flex;
  }
}
.freeBox___7G1Ip {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__o85H5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  color: var(--token-mdLdi9far_hDMT);
  flex-shrink: 0;
}
.columns__oCoy {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  min-width: 0;
  padding: 0px;
}
.columns__oCoy > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__oCoy > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__oCoy > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oCoy {
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oCoy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___9BtGf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___9BtGf {
    justify-content: center;
    align-items: center;
    display: none;
  }
}
.freeBox__tcke {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__tcke > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__tcke > :global(.__wab_flex-container) > *,
.freeBox__tcke > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tcke > :global(.__wab_flex-container) > picture > img,
.freeBox__tcke
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__tcke {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tcke > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tcke > :global(.__wab_flex-container) > *,
  .freeBox__tcke > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tcke > :global(.__wab_flex-container) > picture > img,
  .freeBox__tcke
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tcke {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.link___9RyUl {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___9RyUl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___9RyUl > :global(.__wab_flex-container) > *,
.link___9RyUl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___9RyUl > :global(.__wab_flex-container) > picture > img,
.link___9RyUl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link___9RyUl {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__hexhM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__i701T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__fmnXa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #535353;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text__jYcWa {
  color: var(--token-mdLdi9far_hDMT);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.svg__qr0JK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__mgaxh {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__mgaxh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mgaxh > :global(.__wab_flex-container) > *,
.link__mgaxh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mgaxh > :global(.__wab_flex-container) > picture > img,
.link__mgaxh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link__mgaxh {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__rp2Us {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__wqcsW {
  color: var(--token-mdLdi9far_hDMT);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.svg__wwofV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.column___5QFxA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5QFxA {
    justify-content: center;
    align-items: center;
    display: none;
  }
}
.img__of9Hq {
  object-fit: cover;
  width: 130px;
  height: 100%;
  position: relative;
  filter: none;
  min-height: 0;
}
.img__of9Hq > picture > img {
  object-fit: cover;
}
.img__of9Hq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__bPfs0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox__vFv5M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 25px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vFv5M {
    align-items: center;
    justify-content: center;
    display: none;
  }
}
.link__xi4Ps {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__obEd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-mdLdi9far_hDMT);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
